@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    --offer: #00AEFF;

    --white: #fff;
  
    --title: #181818;
    --text: #474747;
}

body{
    overflow-x: hidden;
}

header{
    height: 497px;
    width: auto;
}

.offer{
    width: 100%;
    background-color: var(--offer);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotype{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}

.wallpaper{
    background-color: #000;
}

.wallpaper img{
    width: 100%;
}

.slogan{
    width: 100%;
    position: relative;
    top: -215px;
    left: 100px;
    color: var(--white)
}

.slogan h1{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 26px;
}

.slogan p{
    font-family: 'Montserrat', sans-serif;
}

.highlights{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.highlights h1{
    padding: 5px 0px;
}

.highlights p{
    padding: 5px 0px;
}

main{
    width: 100%;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.row-1{
    display: flex;
    align-items: center;
}

.row-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
}

.items{
    margin: 0px 15px;
    padding: 50px;
    background-color: var(--bgCard);
    transition: 0.5s;
}
.items:hover{
    transform: scale(1.05);
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: var(--offer);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 450px) {
    header{
        width: 100%;
    }

    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 100px; 
    }

    .row-1{
        display: flex;
        flex-direction: column;
    }

    .row-2{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .items{
        margin-bottom: 10px;
    }
}

